<%- include("partials/header") -%>
    <section>
      <div class="current">
        <h1 class="title">Contacts</h1>
        <p class="content"><%= content %></p>
      </div>
    </section>
<%- include("partials/footer") -%>
